*{
	margin:0;
	padding:0;
}
.clearFix::after{
	content:'';
	display:block;
	clear:both;
}
header{
	width:100%;
	#advertising{
		width:100%;
		height:35px;
		background:#f6f6f6;
		border-bottom:1px solid #ededed; 
		li{
			float:left;
			list-style:none;
			color:#666;
			font-size:14px;
			margin:8px 0 0 25px;
			cursor:pointer;
		}
		li:nth-child(1){
			margin:5px 0 0 180px;
		}
		li:nth-child(2){
			margin-left:430px;
			a{
				color:#666;
				text-decoration:none;
			}
			a:hover{
				color:#E50163;
			}
		}
		li:nth-child(4){
			position:relative;
			margin-left:35px;
			#code{
				position:absolute;
				left:-125px;
				top:20px;
				display:none;
				z-index:100;
			}
			img{
				position:absolute;
				top:1px;
				left:-22px;
			}
		}
		li:nth-child(4):hover{
			#code{
				display:block;
			}
		}
		li:nth-child(5){
			position:relative;
			margin-left:40px;
			height:30px;
			#code_{
				position:absolute;
				left:-80px;
				top:25px;
				display:none;
				z-index:100;
			}
			img{
				position:absolute;
				top:1px;
				left:-22px;
			}
		}
		li:nth-child(5):hover{
			#code_{
				display:block;
			}
		}
		li:nth-child(6){
			position:relative;
			margin-left:35px;
			#code__{
				position:absolute;
				left:-79px;
				top:19px;
				display:none;
				z-index:100;
			}
			img{
				position:absolute;
				top:1px;
				left:-18px;
			}
		}
		li:nth-child(6):hover{
			#code__{
				display:block;
			}
		}
		li:nth-child(8){
			position:relative;
			margin-left:35px;
			height:30px;
			#shopping_cart_btn{
				position:absolute;
				left:-285px;
				top:28px;
				width:350px;
				height:90px;
				text-align:center;
				line-height:90px;
				color:#000;
				display:none;
				box-shadow:1px 1px 5px #ccc;
				background:#fff;
				z-index:100;
			}
			img{
				position:absolute;
				top:1px;
				left:-20px;
			}
		}
		li:nth-child(8):hover{
			#shopping_cart_btn{
				display:block;
			}
		}
		#lastL:hover{
			#shopping_cart_btn_1{
				display:block;
			}
		}
		#lastL{
			position:relative;
			height:30px;
			margin-left:35px;
			#logo_1{
				position:absolute;
				top:1px;
				left:-17px;
			}
			#shopping_cart_btn_1{
				position:absolute;
				left:-1185px;
				top:28px;
				width:1250px;
				height:350px;
				display:none;
				box-shadow:1px 1px 5px #ccc;
				background:#fff;
				z-index:101;
				#DIV_1{
					width:600px;
					height:300px;
					border-right:1px solid #ccc;
					margin:30px 0 0 60px;
					float:left;
					p{
						font-weight:bold;
						margin:10px 0 0 50px;
						font-size:16px;
					}
					img:nth-child(2){
						margin:10px 0 0 50px;
					}
					img{
						margin-left:40px;
					}
					div{
						width:135px;
						height:100px;
						margin:20px 0 0 50px;
						border-bottom:1px solid #ccc;
						float:left;
						span:hover{
							color:pink;
						}
						span:first-child{
							color:#E50163;
						}
					}
				}
				#DIV_2{
					width:500px;
					height:300px;
					margin:30px 0 0 30px;
					float:left;
					p{
						font-weight:bold;
						margin:10px 0 0 0px;
						font-size:16px;
					}
					#logo_2{
						margin:30px 0 0 0px;
						float:left;
					}
					div{
						width:230px;
						height:300px;
						float:left;
						margin:33px 0 0 10px;
					}
				}
			}
		}
	}
	#Navigator{
		width:100%;
		height:110px;
		border-bottom:1px solid #ccc;
		position:relative;
		#logomoonbasa{
			margin:20px 0 0 180px;
		}
		p{
			width:170px;
			height:20px;
			font-size:13px;
			border-left:1px solid #ccc;
			text-align:center;
			margin-left:430px;
		}
		p:nth-child(2){
			margin-top:-30px;
		}
		input{
			position:absolute;
			top:20px;
			right:400px;
			width:400px;
			height:35px;
			border:3px solid #E50163;
		}
		button:nth-child(5){
			width:100px;
			height:41px;
			background:#E50163;
			color:#fff;
			font-size:16px;
			border:none;
			position:absolute;
			top:20px;
			right:300px;
			cursor:pointer;
		}
		button:nth-child(6){
			width:100px;
			height:41px;
			background:#000;
			color:#fff;
			font-size:16px;
			border:none;
			position:absolute;
			top:20px;
			right:200px;
			cursor:pointer;
		}
		ul{
			li{
				float:left;
				list-style:none;
				margin:5px 0 0 20px;
				font-size:13px;
				color:#797979;
				cursor:pointer;
			}
			li:hover{
				color:#E50163;
			}
			li:first-child{
				margin-left:800px;
			}
		}
	}
	#a-Lingerie{
		width:100%;
		overflow:hidden;
		img{
			margin-left:-180px;
		}
	}
	#Navigator_button{
		width:100%;
		position:relative;
		z-index:100;
		background:#EF868D;
		margin-top:-10px;
		li:hover{
			background:#FC6F78;
		}
		li{
			list-style:none;
			width:90px;
			height:35px;
			float:left;
			cursor:pointer;
			font-size:15px;
			text-align:center;
			line-height:35px;
			color:#fff;
		}
		li:nth-child(1){
			margin-left:150px;
			background:#FC6F78;
			a{
				text-decoration:none;
				color:#fff;
			}
		}
		li:nth-child(3){
			div{
				width:100px;
				height:0px;
				overflow:hidden;
				border:1px solid #fff;
				transition:0.2s;
				background:#fff;
				margin-top:0px;
				p{
					color:#333;
				}
				p:nth-child(1){
					margin-top:20px;
				}
				p:hover{
					background:#FC6F78;
					color:#fff;
				}
			}
		}
		li:nth-child(3):hover{
			div{
				height:330px;
				border:1px solid #ccc;
				box-shadow:0px 2px 2px #ccc;
			}
		}
		li:nth-child(4){
			div{
				width:100px;
				height:0px;
				overflow:hidden;
				border:1px solid #fff;
				transition:0.2s;
				background:#fff;
				margin-top:0px;
				p{
					color:#333;
				}
				p:nth-child(1){
					margin-top:10px;
				}
				p:hover{
					background:#FC6F78;
					color:#fff;
				}
			}
		}
		li:nth-child(4):hover{
			div{
				height:260px;
				border:1px solid #ccc;
				box-shadow:0px 2px 2px #ccc;
			}
		}
		li:nth-child(5){
			div{
				width:100px;
				height:0px;
				overflow:hidden;
				border:1px solid #fff;
				transition:0.2s;
				background:#fff;
				margin-top:0px;
				p{
					color:#333;
				}
				p:nth-child(1){
					margin-top:20px;
				}
				p:hover{
					background:#FC6F78;
					color:#fff;
				}
			}
		}
		li:nth-child(5):hover{
			div{
				height:210px;
				border:1px solid #ccc;
				box-shadow:0px 2px 2px #ccc;
			}
		}
		li:nth-child(6){
			div{
				width:100px;
				height:0px;
				overflow:hidden;
				border:1px solid #fff;
				transition:0.2s;
				background:#fff;
				margin-top:0px;
				p{
					color:#333;
				}
				p:nth-child(1){
					margin-top:20px;
				}
				p:hover{
					background:#FC6F78;
					color:#fff;
				}
			}
		}
		li:nth-child(6):hover{
			div{
				height:125px;
				border:1px solid #ccc;
				box-shadow:0px 2px 2px #ccc;
			}
		}
		li:nth-child(7){
			div{
				width:100px;
				height:0px;
				overflow:hidden;
				border:1px solid #fff;
				transition:0.2s;
				background:#fff;
				margin-top:0px;
				p{
					color:#333;
				}
				p:nth-child(1){
					margin-top:10px;
				}
				p:hover{
					background:#FC6F78;
					color:#fff;
				}
			}
		}
		li:nth-child(7):hover{
			div{
				height:160px;
				border:1px solid #ccc;
				box-shadow:0px 2px 2px #ccc;
			}
		}
		li:nth-child(9){
			width:120px;
			height:35px;
			line-height:35px;
			margin-left:270px;
			div{
				width:200px;
				height:0px;
				overflow:hidden;
				border:1px solid #fff;
				transition:0.2s;
				background:#fff;
				margin-top:0px;
				p{
					color:#333;
				}
				p:nth-child(1){
					margin-top:10px;
				}
				p:hover{
					background:#FC6F78;
					color:#fff;
				}
			}
		}
		li:nth-child(9):hover{
			div{
				height:115px;
				border:1px solid #ccc;
				box-shadow:0px 2px 2px #ccc;
			}
		}
	}
}
aside{
	width:30px;
	height:800px;
	background:#000;
	position:fixed;
	top:0;
	right:0;
	z-index:100;
	ul{
		li{
			list-style:none;
			cursor:pointer;
		}
		li:nth-child(1):hover{
			div{
				display:block;
			}
		}
		li:nth-child(1){
			width:30px;
			height:30px;
			background-image:url(../images/nitemf_09.png);
			background-repeat:no-repeat;
			background-position:6px;
			margin:198px 0 20px 0px;
			cursor:pointer;
			div{
				width:300px;
				height:200px;
				border:1px solid #ccc;
				position:absolute;
				left:-302px;
				display:none;
				background:#fff;
				img{
					display:block;
					margin:20px auto 5px;
				}
				p{
					text-align:center;
					color:#333;
					font-size:13px;
				}
				button{
					width:100px;
					height:30px;
					border:1px solid #E50163;
					background:0;
				}
				button:hover{
					background:#E50163;
					cursor:pointer;
				}
				button:nth-child(3){
					margin:10px 0 0 45px;
				}
				button:nth-child(5){
					width:150px;
					margin:18px 0 0 0;
					background:#f5f5f5;
					border:none;
				}
				button:nth-child(6){
					width:150px;
					margin:0 0 0 -5px;
					background:#f5f5f5;
					border:none;
				}
			}
		}
		li:nth-child(2){
			background-repeat:no-repeat;
			background-image:url(../images/nitemf_05.png);
			background-position:3px 15px;
			width:30px;
			height:150px;
			border-top:1px solid #666;
			border-bottom:1px solid #666;
			p{
				color:#fff;
				margin:50px 0 0 8px;
				font-size:13px;
			}
			div{
				width:20px;
				height:20px;
				border-radius:15px;
				background:#E50163;
				margin:15px 0 0 5px;
				text-align:center;
				line-height:20px;
				color:#fff;
				font-size:13px;
			}
		}
		li:nth-child(3):hover{
			div{
				display:block;
			}
		}
		li:nth-child(3){
			background-repeat:no-repeat;
			background-image:url(../images/nitemf_07.png);
			background-position:7px 25px;
			width:30px;
			height:50px;
			margin:15px 0;
			div{
				width:100px;
				height:30px;
				background:#fff;
				position:absolute;
				left:-102px;
				top:435px;
				text-align:center;
				line-height:30px;
				color:#333;
				border:1px solid #ccc;
				font-size:14px;
				display:none;
			}
		}
		li:nth-child(4):hover{
			div{
				display:block;
			}
		}
		li:nth-child(4){
			background-repeat:no-repeat;
			background-image:url(../images/nitemf_08.png);
			background-position:6px 25px;
			width:30px;
			height:50px;
			div{
				width:120px;
				height:160px;
				border:1px solid #ccc;
				position:absolute;
				left:-122px;
				top:500px;
				background:#fff;
				font-size:13px;
				text-align:center;
				display:none;
				img{
					display:block;
					margin:0 auto;
				}
			}
		}
		li:nth-child(5):hover{
			p{
				display:block;
			}
		}
		li:nth-child(5){
			background-repeat:no-repeat;
			background-image:url(../images/service_out.png);
			background-position:-2px -3px;
			width:30px;
			height:33px;
			margin-top:26px;
			p{
				width:100px;
				height:34px;
				border:1px solid #ccc;
				position:absolute;
				left:-102px;
				top:555px;
				text-align:center;
				line-height:30px;
				color:#333;
				font-size:15px;
				display:none;
				background:#fff;
			}	
		}
		li:nth-child(6){
			img{
				margin:125px 0 0 3.5px;
			}
		}
	}
}
main{
	width:100%;
	#tatel{
		width:400px;
		height:30px;
		margin:10px 0 0 180px;
		li{
			float:left;
			list-style:none;
			font-size:13px;
			color:#333;
			margin-left:10px;
			line-height:30px;
			cursor:pointer;
		}
		li:hover{
			text-decoration:underline;
			color:#E50163;
		}
	}
	#detail_box{
		width:1200px;
		height:100%;
		margin:10px auto;
		position:relative;
		#minDiv{
			width:400px;
			height:540px;
			border:1px solid #ccc;
			position:relative;
			left:0px;
			top:0px;
			#minImg{
				width:100%;
				display:block;
			}
			#slider{
				width:200px;
				height:200px;
				background:rgba(0,0,0,0.3);
				position:absolute;
				top:0;
				left:0;
				display:none;
			}
		}
		#maxDiv{
			width:400px;
			height:540px;
			background:#fff;
			border:1px solid #ccc;
			position:absolute;
			left:405px;
			top:0px;
			overflow:hidden;
			display:none;
			z-index:100;
			#maxImg{
				position:absolute;
				display:block;
			}
		}
		#detail_box_left{
			width:590px;
			height:540px;
			position:absolute;
			top:0px;
			left:455px;
			border-right:1px solid #ccc;
			h3{
				color:#666;
			}
			#Logos{
				margin-top:50px;
				display:block;
			}
			#Buy{
				width:563px;
				height:150px;
				background-image:url(../images_1/goods_price_bg.png);
				position:relative;
				p:nth-child(1){
					color:#E50163;
					font-size:23px;
					position:absolute;
					top:10px;
					left:10px;
					span{
						font-size:40px;
					}
				}
				p:nth-child(2){
					width:47px;
					height:18px;
					background-image:url(../images_1/p01.png);
					position:absolute;
					top:20px;
					left:90px;
					font-size:13px;
					color:#fff;
					text-align:center;
				}
				p:nth-child(3){
					font-size:14px;
					text-decoration:line-through;
					position:absolute;
					left:97px;
					top:37px;
				}
				p:nth-child(4){
					font-size:12px;
					position:absolute;
					left:15px;
					top:65px;
				}
				p:nth-child(5){
					font-size:12px;
					position:absolute;
					left:115px;
					top:65px;
					color:#666;
				}
				p:nth-child(6){
					font-size:12px;
					position:absolute;
					left:15px;
					top:105px;
					color:#E50163;
				}
				p:nth-child(7){
					font-size:12px;
					position:absolute;
					left:75px;
					top:106px;
					background:#E50163;
					width:35px;
					height:15px;
					line-height:15px;
					text-align:center;
					color:#fff;
				}
				p:nth-child(8){
					font-size:12px;
					position:absolute;
					left:125px;
					top:106px;
					color:#666;
				}
				p:nth-child(9){
					width:160px;
					border:1px dashed #EAAB82;
					position:absolute;
					top:20px;
					left:400px;
				}
				#Gif_QR_code{
					position:absolute;
					top:23px;
					left:400px;
					cursor:pointer;
				}
				p:nth-child(11){
					position:absolute;
					top:25px;
					left:455px;
					font-size:12px;
					color:#333;
				}
				p:nth-child(12){
					position:absolute;
					top:110px;
					left:480px;
					font-size:12px;
					color:#333;
					cursor:pointer;
				}
				#QR_code{
					position:absolute;
					top:23px;
					left:400px;
					cursor:pointer;
					width:150px;
					height:0px;
					background:#fff;
					transition:0.5s;
					overflow:hidden;
					img{
						display:block;
						margin:10px auto 0;
					}
					#X{
						position:absolute;
						top:-2px;
						right:2px;
						font-size:15px;
						color:#333;
					}
				}
			}
			#Color_Box{
				width:300px;
				height:100px;
				p{
					display:inline-block;
					font-size:15px;
					color:#666;
					margin:40px 20px 0 0px;
				}
				#Color_Box1{
					display:inline-block;
					border:2px solid #E50163;
					height:38px;
					width:80px;
					position:absolute;
					top:300px;
					cursor:pointer;
					img{
						position:absolute;
						top:0px;
					}
					p{
						position:absolute;
						top:-32px;
						left:45px;
						font-size:12px;
						width:30px;
					}
					i{
						position:absolute;
						bottom:-3px;
						right:-8px;
						width:10;
						height:10;		
						border-right:10px solid transparent;
						border-left:10px solid transparent;
						border-top:10px solid #E50163;
						transform:rotate(315deg);
						// display:none;
					}
				}
				#Color_Box2{
					display:inline-block;
					border:2px solid #ccc;
					height:38px;
					width:80px;
					position:absolute;
					left:150px;
					top:300px;
					cursor:pointer;
					img{
						position:absolute;
						top:0px;
					}
					p{
						position:absolute;
						top:-32px;
						left:45px;
						font-size:12px;
						width:30px;
					}
					i{
						position:absolute;
						bottom:-3px;
						right:-8px;
						width:10;
						height:10;		
						border-right:10px solid transparent;
						border-left:10px solid transparent;
						border-top:10px solid #E50163;
						transform:rotate(315deg);
						display:none;
					}
				}
			}
			#Size{
				ul{
					width:300px;
					height:30px;
					// border:1px solid red;
					list-style:none;
					li{
						float:left;
						line-height:30px;
					}
					li:first-child{
						color:#666;
						margin-right:21px;
						font-size:15px;
					}
					li:nth-child(2){
						color:#666;
						width:50px;
						height:100%;
						border:1px solid #E50163;
						text-align:center;
						cursor:pointer;
					}
					li:nth-child(3){
						color:#666;
						width:50px;
						height:100%;
						border:1px solid #ccc;
						text-align:center;
						cursor:pointer;
						margin:0 12px 0 12px;
					}
					li:nth-child(4){
						color:#666;
						width:50px;
						height:100%;
						border:1px solid #ccc;
						text-align:center;
						cursor:pointer;
					}
				}
			}
			#Number{
				width:300px;
				height:40px;
				// border:1px solid red;
				margin-top:30px;
				line-height:40px;
				#shuliang{
					display:inline-block;
					color:#666;
					font-size:15px;
					margin-right:21px;
				}
				div{
					width:100px;
					height:40px;
					display:inline-block;
					border:1px solid #ccc;
					
					position:absolute;
					p:nth-child(1){
						line-height:40px;
						margin-left:30px;
					}
					p:nth-child(2){
						line-height:40px;
						width:30px;
						height:19.5px;
						border:1px solid #ccc;
						position:absolute;
						top:0px;
						right:0px;
						border-top:none;
						border-bottom:none;
						color:#333;
						font-size:18px;
						text-align:center;
						line-height:19.5px;
						border-right:none;
						a{
							transform:rotate(-90deg);
							display:block;
							cursor:pointer;
							margin-right:2px;
						}
						
					}
					p:nth-child(3){
						line-height:40px;
						width:30px;
						height:19.5px;
						border:1px solid #ccc;
						position:absolute;
						bottom:0px;
						right:0px;
						border-bottom:none;
						color:#333;
						font-size:18px;
						text-align:center;
						line-height:19.5px;
						border-right:none;
						a{
							transform:rotate(90deg);
							display:block;
							cursor:pointer;
						}
					}
					p:nth-child(4){
						font-size:13px;
						color:#333;
						position:absolute;
						top:0;
						right:-70px;
					}
				}	
			}
			.btn1{
				width:150px;
				height:40px;
				font-size:18px;
				text-align:center;
				line-height:40px;
				margin:28px 20px 0 0px;
				border:1px solid #E50163;
				background:#fff;
				color:#E50163;
				cursor:pointer;
			}
			.btn2{
				width:150px;
				height:40px;
				font-size:18px;
				text-align:center;
				line-height:40px;
				border:1px solid #fff;
				background:#E50163;
				color:#fff;
				cursor:pointer;
			}
		}
		#detail_box_right{
			width:140px;
			height:580px;
			position:absolute;
			right:12px;
			top:0px;
			p{
				text-align:center;;
				color:#666;
				font-size:13px;
				float:left;
				margin-left:8px;
			}
			ul{
				width:100%;
				height:510px;
				margin-top:30px;
				overflow:hidden;
				li{
					list-style:none;
					margin:5px 0 0 10px;
					transition:0.5s;
				}
			}
			#lbd{
				position:absolute;
				bottom:10px;
				left:35px;
				cursor:pointer;
			}
			#lbu{
				position:absolute;
				bottom:10px;
				right:35px;
				cursor:pointer;
			}
		}
		#JoinTheSuccess{
			width:800px;
			height:600px;
			background:#fff;
			position:fixed;
			top:170px;
			left:380px;
			border:1px solid #999;
			z-index:1000;
			display:none;
			#guanbi{
				background:#000;
				width:20px;
				height:20px;
				color:#fff;
				font-size:18px;
				text-align:center;
				line-height:20px;
				position:absolute;
				top:0px;
				right:0px;
				cursor:pointer;
			}
			#gouwuche{
				position:absolute;
				top:50px;
				left:260px;
			}
			#text_1{
				font-size:15px;
				font-weight:bold;
				position:absolute;
				top:80px;
				left:380px;
			}
			#btna{
				width:100px;
				height:30px;
				text-align:center;
				line-height:30px;
				margin:150px 30px 0 280px;
				border:1px solid #E50163;
				background:#fff;
				color:#E50163;
			}
			#btnb{
				width:100px;
				height:30px;
				text-align:center;
				line-height:30px;
				background:#E50163;
				border:1px solid #fff;
				color:#fff;
				a{
					text-decoration:none;
					display:inline-block;
					width:100px;
					height:30px;
					color:#fff;
				}
			}
			#text_2{
				position:absolute;
				top:240px;
				color:#333;
				font-weight:14px;
				left:50px;
			}
			i{
				width:700px;
				border:1px dashed #ccc;
				position:absolute;
				top:270px;
				left:50px;
				display:block;
			}
			ul{
				position:absolute;
				bottom:20px;
				left:10px;
				li{
					list-style:none;
					float:left;
					margin-left:10px;
					text-align:center;
					line-height:25px;
					color:#E50163;
					font-size:14px;
				}
			}
		}
	}
}
footer{
	width:100%;
	height:100%;
	position:relative;
	background:#fff;
	margin-top:100px;
	#hellp{
		width:100%;
		height:150px;
		background:#ECECEC;
		img{
			margin:15px 0 0 80px;
		}
		ul{
			list-style:none;
			float:left;
			margin:15px 0 0 60px;
			color:#333;
			li{
				line-height:23px;
				font-size:13px;
				cursor:pointer;
			}
			li:first-child{
				font-weight:bold;
				color:#000;
				font-size:14px;
				margin-bottom:5px;
			}
			li:hover{
				color:#E50163;
			}
			li:first-child:hover{
				color:#000;
			}
		}
		ul:first-child{
			margin-left:220px;
		}
		ul:nth-child(7){
			li:nth-child(3){
				color:#000;
				font-weight:bold;
				font-size:14px;
				margin:10px 0 5px 0;
			}
			li:nth-child(3):hover{
				color:#000;
			}
		}
	}
	#logoBox{
		width:100%;
		height:100%;
		img{
			margin:20px 0 20px 50px;
		}
		img:first-child{
			margin-left:360px;
			cursor:pointer;
		}
	}
	#list{
		ul{
			width:450px;
			height:20px;
			margin:0 auto;
			// border:1px solid red;
			li{
				list-style:none;
				margin-left:5px;
				float:left;
				font-size:13px;
				color:#333;
			}
			li:hover{
				color:#E50163;
				cursor:pointer;
			}
		}
		p{
			font-size:13px;
			color:#333;
			margin:0px 0 0px 370px;
		}
	}
	#imgBox{
		margin:20px 0 20px 20px;
		img{
			cursor:pointer;
		}
		img:first-child{
			margin-left:355px;
		}
	}
}