*{
	margin:0;
	padding:0;
}
.clearFix::after{
	content:'';
	display:block;
	clear:both;
}
header{
	width:100%;
	#advertising{
		width:100%;
		background:#f6f6f6;
		border-bottom:1px solid #ededed; 
		li{
			float:left;
			list-style:none;
			color:#666;
			font-size:14px;
			margin:8px 0 0 25px;
		}
		li:hover{
			color:#E50163;
			cursor:pointer;
		}
		li:nth-child(1){
			margin:5px 0 0 180px;
		}
		li:nth-child(2){
			margin-left:430px;
			a{
				color:#666;
				text-decoration:none;
			}
			a:hover{
				color:#E50163;
			}
		}
		li:nth-child(4){
			position:relative;
			margin-left:35px;
			#code{
				position:absolute;
				left:-125px;
				top:20px;
				display:none;
			}
			img{
				position:absolute;
				top:1px;
				left:-22px;
			}
		}
		li:nth-child(4):hover{
			#code{
				display:block;
			}
		}
		li:nth-child(5){
			position:relative;
			margin-left:40px;
			#code_{
				position:absolute;
				left:-80px;
				top:23px;
				display:none;
			}
			img{
				position:absolute;
				top:1px;
				left:-22px;
			}
		}
		li:nth-child(5):hover{
			#code_{
				display:block;
			}
		}
		li:nth-child(6){
			position:relative;
			margin-left:35px;
			#code__{
				position:absolute;
				left:-79px;
				top:19px;
				display:none;
			}
			img{
				position:absolute;
				top:1px;
				left:-18px;
			}
		}
		li:nth-child(6):hover{
			#code__{
				display:block;
			}
		}
		li:last-child{
			position:relative;
			margin-left:35px;
			#shopping_cart_btn{
				position:absolute;
				left:-285px;
				top:27px;
				width:350px;
				height:90px;
				text-align:center;
				line-height:90px;
				color:#000;
				display:none;
				box-shadow:1px 1px 5px #ccc;
				background:#fff;
			}
			img{
				position:absolute;
				top:1px;
				left:-20px;
			}
		}
		li:last-child:hover{
			#shopping_cart_btn{
				display:block;
			}
		}
	}
	#Option_bnt{
		width:100%;
		background:#f6f6f6;
		border-bottom:1px solid #ededed;
		list-style:none;
		li{
			float:left;
			font-size:0;
		}
		li:nth-child(1){
			margin-left:180px;
		}
	}
	#inp_log{
		width:100%;
		list-style:none;
		li{
			float:left;
		}
		#lis{
			margin:20px 0 0 170px;
		}
		li:nth-child(2){
			input{
				margin:46px 0 0 70px;
				border:2px solid #E50163;
				width:450px;
				height:35px;
			}
		}
		li:nth-child(3){
			button{
				width:100px;
				height:39px;
				color:white;
				font-size:16px;
				background:#E50163;
				border:none;
				margin:46px 0 0 0;
			}
		}
		li:nth-child(4){
			img{
				margin:25px 0 0 39px;
			}
		}
		li:last-child{
			ul{
				width:500px;
				margin:-15px 0 0 70px;
				li{
					list-style:none;
					margin-left:12px;
					float:left;
					font-size:13px;
					color:#666;
				}
				li:nth-child(1){
					color:#E50163;
				}
				li:nth-child(2){
					color:#E50163;
				}
				li:hover{
					color:#E50163;
					cursor:pointer;
				}
			}
		}
	}
	#Home_page_options{
		width:100%;
		height:35px;
		background:#555;
		line-height:33px;
		li{
			list-style:none;
			float:left;
			color:#fff;
			font-size:15px;
			margin-left:30px;
		}
		li:hover{
			color:#E50163;
			cursor:pointer;
			border-bottom:2px solid #E50163;
		}
		li:nth-child(1){
			margin-left:190px;
		}
		li:nth-child(9){
			margin-left:390px;
		}
		li:nth-child(5){
			a{
				color:#fff;
				text-decoration:none;
			}
			a:hover{
				color:#E50163;
			}
		}
		li:nth-child(6){
			a{
				color:#fff;
				text-decoration:none;
			}
			a:hover{
				color:#E50163;
			}
		}
		li:nth-child(11){
			color:#E50163;
		}
	}
	.banner{
		position:relative;
		width:1583px;
		overflow:hidden;
		font-size:0;
		list-style:none;
		.b_main{
			position:relative;
			width:1700px;
			height:430px;
			.b_m_pic{
				position:relative;
				width:1700px;
				height:430px;
				li{
					position:absolute;
					width:1700px;
					height:430px;
					top:0;
					left:-60px;
				}
			}
		}
		.b_list{
			ul{
				position:absolute;
				right:100px;
				bottom:20px;
				li{
					width:10px;
					height:10px;
					float:left;
					background:#333;
					margin-left:20px;
					border-radius:50%;
					border:1px solid white;
				}
				.l_hover{
					border:1px solid #333;
					background:white;
				}
				.l_click{
					border:1px solid #333;
					background:white;
				}
			}
		}
		.b_btn{
			div{
				position:absolute;
				width:100px;
				height:100px;
				font-size:80px;
				color:#333;
				text-align:center;
				line-height:100px;
				top:38%;
				cursor:pointer;
			}
			.b_left{
				left:0;
				border-radius:50%;
				// display:none;
			}
			.b_right{
				right:0;
				border-radius:50%;
				// display:none;
			}
		}
	}
	#Navigation{
		width:210px;
		height:563px;
		background:#fff;
		position:absolute;
		top:267px;
		left:190px;
		list-style:none;
		z-index:100;
		#lis_1{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_1{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-1px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_1:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_1{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
		#lis_2{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_2{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-113px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_2:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_2{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
		#lis_3{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_3{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-226px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_3:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_3{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
		#lis_4{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_4{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-338px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_4:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_4{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
		#lis_5{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_5{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-450px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_5:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_5{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
	}
	#COM{
		position:absolute;
		top:840px;
		left:190px;
		z-index:100;
	}
}
aside{
	width:30px;
	height:800px;
	background:#000;
	position:fixed;
	top:0;
	right:0;
	z-index:100;
	ul{
		li{
			list-style:none;
			cursor:pointer;
		}
		li:nth-child(1):hover{
			div{
				display:block;
			}
		}
		li:nth-child(1){
			width:30px;
			height:30px;
			background-image:url(../images/nitemf_09.png);
			background-repeat:no-repeat;
			background-position:6px;
			margin:198px 0 20px 0px;
			cursor:pointer;
			div{
				width:300px;
				height:200px;
				border:1px solid #ccc;
				position:absolute;
				left:-302px;
				display:none;
				background:#fff;
				img{
					display:block;
					margin:20px auto 5px;
				}
				p{
					text-align:center;
					color:#333;
					font-size:13px;
				}
				button{
					width:100px;
					height:30px;
					border:1px solid #E50163;
					background:0;
				}
				button:hover{
					background:#E50163;
					cursor:pointer;
				}
				button:nth-child(3){
					margin:10px 0 0 45px;
				}
				button:nth-child(5){
					width:150px;
					margin:18px 0 0 0;
					background:#f5f5f5;
					border:none;
				}
				button:nth-child(6){
					width:150px;
					margin:0 0 0 -5px;
					background:#f5f5f5;
					border:none;
				}
			}
		}
		li:nth-child(2){
			background-repeat:no-repeat;
			background-image:url(../images/nitemf_05.png);
			background-position:3px 15px;
			width:30px;
			height:150px;
			border-top:1px solid #666;
			border-bottom:1px solid #666;
			p{
				color:#fff;
				margin:50px 0 0 8px;
				font-size:13px;
			}
			div{
				width:20px;
				height:20px;
				border-radius:15px;
				background:#E50163;
				margin:15px 0 0 5px;
				text-align:center;
				line-height:20px;
				color:#fff;
				font-size:13px;
			}
		}
		li:nth-child(3):hover{
			div{
				display:block;
			}
		}
		li:nth-child(3){
			background-repeat:no-repeat;
			background-image:url(../images/nitemf_07.png);
			background-position:7px 25px;
			width:30px;
			height:50px;
			margin:15px 0;
			div{
				width:100px;
				height:30px;
				background:#fff;
				position:absolute;
				left:-102px;
				top:435px;
				text-align:center;
				line-height:30px;
				color:#333;
				border:1px solid #ccc;
				font-size:14px;
				display:none;
			}
		}
		li:nth-child(4):hover{
			div{
				display:block;
			}
		}
		li:nth-child(4){
			background-repeat:no-repeat;
			background-image:url(../images/nitemf_08.png);
			background-position:6px 25px;
			width:30px;
			height:50px;
			div{
				width:120px;
				height:160px;
				border:1px solid #ccc;
				position:absolute;
				left:-122px;
				top:500px;
				background:#fff;
				font-size:13px;
				text-align:center;
				display:none;
				img{
					display:block;
					margin:0 auto;
				}
			}
		}
		li:nth-child(5):hover{
			p{
				display:block;
			}
		}
		li:nth-child(5){
			background-repeat:no-repeat;
			background-image:url(../images/service_out.png);
			background-position:-2px -3px;
			width:30px;
			height:33px;
			margin-top:26px;
			p{
				width:100px;
				height:34px;
				border:1px solid #ccc;
				position:absolute;
				left:-102px;
				top:555px;
				text-align:center;
				line-height:30px;
				color:#333;
				font-size:15px;
				display:none;
				background:#fff;
			}	
		}
		li:nth-child(6){
			img{
				margin:125px 0 0 3.5px;
			}
		}
	}
}
main{
	width:100%;
	height:100%;
	background:#e3e3e3;
	position:relative;
	padding-top:0.1px;
	#aside_left{
		width:35px;
		height:600px;
		z-index:100;
		position:fixed;
		top:200px;
		left:100px;
		display:none;
		ul{
			width:35px;
			height:600px;
			list-style:none;
			li{
				width:100%;
				height:50px;
				border:1px solid #ccc;
				text-align:center;
				font-size:13px;
				line-height:25px;
				cursor:pointer;
				color:#000;
			}
			li:nth-child(8),li:nth-child(9),li:nth-child(10),li:nth-child(11){
				line-height:50px;
			}
		}
	}
	#Recommend{
		width:980px;
		height:300px;
		overflow:hidden;
		margin:41.5px 0 0 412px;
		button{
			width:100px;
			height:30px;
			border:none;
			margin-left:20px;
			border:1px solid #666;
			background:#fff;
			cursor:pointer;
		}
		button:first-child:hover{
			background:#000;
			color:#fff;
			border:#000;
			i{
				display:block;
			}
		}
		button:first-child{
			margin-left:0px;
			i{
				position:absolute;
				top:70px;
				left:452px;
				width:0;
				height:0;		
				border-right:10px solid transparent;
				border-left:10px solid transparent;
				border-top:10px solid #000;
				display:none;
			}
		}
		button:nth-child(2){
			i{
				position:absolute;
				top:70px;
				left:576px;
				width:0;
				height:0;		
				border-right:10px solid transparent;
				border-left:10px solid transparent;
				border-top:10px solid #000;
				display:none;
			}
		}
		button:nth-child(2):hover{
			background:#000;
			color:#fff;
			border:#000;
			i{
				display:block;
			}
		}
		button:nth-child(3){
			i{
				position:absolute;
				top:70px;
				left:702px;
				width:0;
				height:0;		
				border-right:10px solid transparent;
				border-left:10px solid transparent;
				border-top:10px solid #000;
				display:none;
			}
		}
		button:nth-child(3):hover{
			background:#000;
			color:#fff;
			border:#000;
			i{
				display:block;
			}
		}
		button:nth-child(4){
			i{
				position:absolute;
				top:70px;
				left:826px;
				width:0;
				height:0;		
				border-right:10px solid transparent;
				border-left:10px solid transparent;
				border-top:10px solid #000;
				display:none;
			}
		}
		button:nth-child(4):hover{
			background:#000;
			color:#fff;
			border:#000;
			i{
				display:block;
			}
		}
		#Brand{
			width:100%;
			height:280px;
			margin-top:20px;
		}
	}
	#Selected{
		width:1200px;
		height:450px;
		// border:1px solid red;
		margin:50px auto 0px;
		position:relative;
		#Remen{
			margin-top:-50px;
		}
		#street{
			img{
				position:absolute;
				right:0px;
				bottom:0px;
			}
		}
		.bmain{
			position:absolute;
			bottom:0px;
			left:150px;
			width:800px;
			height:362px;
			.bmpic{
				position:relative;
				width:800px;
				height:362px;
				li{
					position:absolute;
					width:800px;
					height:362px;
					top:0;
					left:0;
					list-style:none;
				}
			}
		}
		.blist ul{
			width:150px;
			height:362px;
			position:absolute;
			bottom:0px;
			left:0px;
			li:nth-child(2){
				border-bottom:none;
			}
			li:nth-child(1){
				border-bottom:none;
			}
			li:nth-child(3){
				border-bottom:none;
			}
			li{
				width:100%;
				height:24.7%;
				background:#fff;
				list-style:none;
				text-align:center;
				line-height:100px;
				cursor:pointer;
				font-weight:bold;
				font-size:17px;
				border:1px solid #ccc;
				#is_1{
					position:absolute;
					top:40px;
					left:140px;
					width:0;
					height:0;		
					border-top:10px solid transparent;
					border-bottom:10px solid transparent;
					border-right:10px solid #fff;
				}
				#is_2{
					position:absolute;
					top:128px;
					left:140px;
					width:0;
					height:0;		
					border-top:10px solid transparent;
					border-bottom:10px solid transparent;
					border-right:10px solid #fff;
				}
				#is_3{
					position:absolute;
					top:218px;
					left:140px;
					width:0;
					height:0;		
					border-top:10px solid transparent;
					border-bottom:10px solid transparent;
					border-right:10px solid #fff;
				}
				#is_4{
					position:absolute;
					top:306px;
					left:140px;
					width:0;
					height:0;		
					border-top:10px solid transparent;
					border-bottom:10px solid transparent;
					border-right:10px solid #fff;
				}
			}
			.lhover{
				color:#E50163;
				background:skyblue;
			}
			.lclick{
				color:#E50163;
				background:skyblue;
			}
		}
	}
	#PopularCategory{
		width:1200px;
		height:665px;
		margin:50px auto 50px;
		// border:1px solid red;
		#Jingp{
			margin-top:-45px;
		}
		#uls_1{
			width:100%;
			height:40px;
			background:#fff;
			margin-top:20px;
			li{
				width:398px;
				height:100%;
				list-style:none;
				border:1px solid #ccc;
				float:left;
				text-align:center;
				line-height:40px;
				font-size:18px;
				font-weight:bold;
				color:#333;
				cursor:pointer;
				border-top:none;
				border-bottom:none;
				position:relative;
			}
			li:first-child{
				border-left:none;
			}
			li:last-child{
				border-right:none;
			}
			li:hover{
				color:#E50163;
			}
		}
		#uls_2{
			width:100%;
			height:528px;
			margin-top:5px;
			overflow:hidden;
			div{
				width:100%;
				height:100%;
				font-size:200px;
			}
			#Box_1{
				position:relative;
				#clothing_1{
					width:520px;
					height:100%;
					img{
						width:520px;
						height:530px;
						display:block;
					}
				}
				#clothing_2{
					position:absolute;
					top:0px;
					right:-32px;
					width:715px;
					height:100%;
					font-size:0px;
					p{
						cursor:pointer;
						width:33.3%;
						height:50%;
						display:inline-block;
					}
					p:nth-child(3),p:nth-child(6){
						margin-left:-19px;
					}
				}
				#clothing_3{
					width:520px;
					height:100%;
					img{
						width:520px;
						height:530px;
						display:block;
					}
				}
				#clothing_4{
					position:absolute;
					top:0px;
					right:-32px;
					width:715px;
					height:100%;
					font-size:0px;
					p{
						cursor:pointer;
						width:33.3%;
						height:50%;
						display:inline-block;
					}
					p:nth-child(3),p:nth-child(6){
						margin-left:-19px;
					}
				}
				#clothing_5{
					width:520px;
					height:100%;
					img{
						width:520px;
						height:530px;
						display:block;
					}
				}
				#clothing_6{
					position:absolute;
					top:0px;
					right:-32px;
					width:715px;
					height:100%;
					font-size:0px;
					p{
						cursor:pointer;
						width:33.3%;
						height:50%;
						display:inline-block;
					}
					p:nth-child(3),p:nth-child(6){
						margin-left:-19px;
					}
				}
			}
		}
	}
	#Hot_selling{
		width:1200px;
		height:990px;
		margin:0 auto;
		position:relative;
		#Hot_selling_img{
			margin-top:-10px;
		}
		#ula_1{
			width:100%;
			height:50px;
			li:first-child{
				margin-left:388px;
			}
			.lhover,.lclick{
				color:#E50163;
				border-bottom:2px solid #E50163;
			}
			li{
				float:left;
				list-style:none;
				font-weight:bold;
				font-size:17px;
				color:#333;
				margin-left:20px;
			}
			li:hover{
				color:#E50163;
				cursor:pointer;
				border-bottom:2px solid #E50163;
			}
		}
		#ula_2{
			width:100%;
			height:820px;
			position:relative;
			ul{
				width:100%;
				background:#fff;
				position:absolute;
				top:0px;
				left:0px;
				li{
					list-style:none;
					cursor:pointer;
				}
			}
		}
		#ula_3{
			width:180px;
			height:25px;
			position:absolute;
			top:540px;
			left:310px;
			li{
				width:25px;
				height:25px;
				border-radius:50%;
				background:#ccc;
				list-style:none;
				float:left;
				margin-left:10px;
				font-weight:bold;
				text-align:center;
				line-height:25px;
				cursor:pointer;
			}
			.lhover,.lclick{
				background:#333;
				color:#ccc;
			}
		}
	}
	#NewArrivals{
		width:1180px;
		height:790px;
		margin:0px auto 50px;
		position:relative;
		#Arrivals{
			width:100%;
			height:665px;
			list-style:none;
			position:relative;
			li{
				img{
					position:absolute;
					top:0px;
					left:0px;
				}
			}
		}
		#Arrivals_1{
			width:250px;
			height:15px;
			position:absolute;
			bottom:20px;
			right:150px;
			li{
				width:15px;
				height:15px;
				border-radius:50%;
				background:#ccc;
				margin-left:15px;
				list-style:none;
				float:left;
				cursor:pointer;
			}
			.l_hover,.l_click{
				background:#333;
			}
		}
		#btn{
			font-size:120px;
			color:#ccc;
			#Bleft{
				position:absolute;
				top:45%;
				left:0;
				cursor:pointer;
			}
			#Bright{
				position:absolute;
				top:45%;
				right:0;
				cursor:pointer;
			}
			#Bright:hover,#Bleft:hover{
				color:#333;
			}
		}
	}
	#Mix_match{
		width:1200px;
		height:770px;
		margin:0 auto 30px;
		position:relative;
		#Dandyism{
			width:100%;
			height:35px;
			position:relative;
			li{
				list-style:none;
				float:left;
				width:33.2%;
				height:100%;
				background:#fff;
				border-right:1px solid #ccc;
				border-left:1px solid #ccc;
				text-align:center;
				line-height:35px;
				font-size:14px;
				cursor:pointer;
				z-index:100;
			}
			li:first-child{
				border-left:none;
				i{
					position:absolute;
					top:35px;
					left:190px;
					width:0;
					height:0;		
					border-left:10px solid transparent;
					border-right:10px solid transparent;
					border-top:10px solid #E50163;
					display:none;
					z-index:100;
				}
			}
			li:nth-child(2){
				i{
					position:absolute;
					top:35px;
					left:590px;
					width:0;
					height:0;		
					border-left:10px solid transparent;
					border-right:10px solid transparent;
					border-top:10px solid #E50163;
					display:none;
					z-index:100;
				}
			}
			li:last-child{
				border-right:none;
				i{
					position:absolute;
					top:35px;
					left:980px;
					width:0;
					height:0;		
					border-left:10px solid transparent;
					border-right:10px solid transparent;
					border-top:10px solid #E50163;
					display:none;
					z-index:100;
				}
			}
		}
		#Dandyism_{
			list-style:none;
			width:100%;
			height:610px;
			position:relative;
			li{
				position:absolute;
				top:0px;
			}
		}
		#Dandyism_1{
			list-style:none;
			width:20px;
			height:100px;
			position:absolute;
			top:400px;
			left:20px;
			li{
				width:20px;
				height:20px;
				border-radius:50%;
				background:#ccc;
				margin-top:10px;
			}
		}
	}
	#brands_{
		width:1200px;
		height:658px;
		// border:1px solid red;
		margin:0 auto;
		position:relative;
		#brands_1{
			width:110px;
			height:530px;
			position:absolute;
			top:123px;
			left:0px;
			li{
				list-style:none;
				border-top:1px solid #ccc;
				border-bottom:1px solid #ccc;
				width:100%;
				height:132.5px;
				background:#fff;
				text-align:center;
				font-size:25px;
				font-weight:bold;
				color:#333;
				line-height:120px;
				p{
					font-size:13px;
					margin-top:-90px;
				}
			}
			li:hover{
				cursor:pointer;
				color:#E50163;
				p{
					text-decoration:underline;
					color:#E50163;
				}
			}
			li:nth-child(1),li:nth-child(2),li:nth-child(3){
				border-bottom:none;
			}
		}
		#brands_2{
			width:1089px;
			height:533px;
			list-style:none;
			position:absolute;
			right:0px;
			li{
				width:100%;
				height:100%;
				position:absolute;
				top:0px;
			}
		}
	}
}
section{
	width:100%;
	height:100%;
	background:#fff;
	#Underwear{
		width:1200px;
		margin:0 auto 100px;
		position:relative;
		// border:1px solid red;
		#Underwear_1{
			width:100%;
			li:first-child{
				margin-left:-4px;
			}
			li:nth-child(6){
				margin-left:-4px;
			}
			li{
				width:19.58%;
				height:420px;
				list-style:none;
				text-align:center;
				font-size:15px;
				color:#333;
				position:relative;
				float:left;
				margin:10px 0 0 7px;
				cursor:pointer;
				transition:0.3s;
				img{
					width:100%;
				}
				p:nth-child(3){
					margin:0px 80px 0 30px;
					font-size:25px;
				}
				p:nth-child(2){
					margin:0px 0px 20px 0px;
				}
				p:nth-child(4){
					margin:0px 0px 20px 0px;
					position:absolute;
					right:40px;
					top:388px;
					text-decoration:line-through;
					font-size:16px;
					color:#E50163;
				}
			}
			li:hover{
				box-shadow:5px 5px 5px #ccc;
			}
		}
	}
	#Korirl{
		width:1200px;
		margin:0 auto 100px;
		position:relative;
		#Korirl_1{
			width:100%;
			li:first-child{
				margin-left:0px;
			}
			li:nth-child(6){
				margin-left:0px;
			}
			li{
				width:19.53%;
				height:420px;
				list-style:none;
				text-align:center;
				font-size:15px;
				color:#333;
				position:relative;
				float:left;
				margin:10px 0 0 7px;
				cursor:pointer;
				transition:0.3s;
				img{
					width:100%;
				}
				p:nth-child(3){
					margin:0px 50px 0 0;
					font-size:25px;
				}
				p:nth-child(2){
					margin:0px 0px 20px 0px;
				}
				p:nth-child(4){
					margin:0px 0px 20px 0px;
					position:absolute;
					right:20px;
					top:388px;
					text-decoration:line-through;
					font-size:16px;
					color:#E50163;
				}
			}
			li:hover{
				box-shadow:5px 5px 5px #ccc;
			}
		}
	}
	#US_fashion{
		width:1200px;
		margin:0 auto 50px;
		position:relative;
		#US_fashion_1{
			width:100%;
			li:first-child{
				margin-left:0px;
			}
			li:nth-child(6){
				margin-left:0px;
			}
			li{
				width:19.53%;
				height:420px;
				list-style:none;
				text-align:center;
				font-size:15px;
				color:#333;
				position:relative;
				float:left;
				margin:10px 0 0 7px;
				cursor:pointer;
				transition:0.3s;
				img{
					width:100%;
				}
				p:nth-child(3){
					margin:0px 50px 0 0;
					font-size:25px;
				}
				p:nth-child(2){
					margin:0px 0px 20px 0px;
				}
				p:nth-child(4){
					margin:0px 0px 20px 0px;
					position:absolute;
					right:20px;
					top:388px;
					text-decoration:line-through;
					font-size:16px;
					color:#E50163;
				}
			}
			li:hover{
				box-shadow:5px 5px 5px #ccc;
			}
		}
	}
	#recomend{
		width:1200px;
		margin:0 auto 100px;
		position:relative;
		#recomend_1{
			width:100%;
			li:first-child{
				margin-left:0px;
			}
			li:nth-child(6){
				margin-left:0px;
			}
			li:nth-child(11){
				margin-left:0px;
			}
			li:nth-child(16){
				margin-left:0px;
			}
			li:nth-child(21){
				margin-left:0px;
			}
			li:nth-child(26){
				margin-left:0px;
			}
			li{
				width:19.53%;
				height:420px;
				list-style:none;
				text-align:center;
				font-size:15px;
				color:#333;
				position:relative;
				float:left;
				margin:10px 0 0 7px;
				cursor:pointer;
				transition:0.3s;
				img{
					width:100%;
				}
				p:nth-child(3){
					margin:0px 50px 0 0;
					font-size:25px;
				}
				p:nth-child(2){
					margin:0px 0px 20px 0px;
				}
				p:nth-child(4){
					margin:0px 0px 20px 0px;
					position:absolute;
					right:0px;
					top:383px;
					width:80px;
					height:30px;
					background:orange;
					line-height:30px;
					color:#fff;
					font-size:13px;
					transition:0.5s;
				}
				p:nth-child(4):hover{
					background:#E50163;
				}
			}
			li:hover{
				box-shadow:5px 5px 5px #ccc;
			}
		}
	}
}
footer{
	width:100%;
	height:100%;
	position:relative;
	background:#fff;
	#hellp{
		width:100%;
		height:150px;
		background:#ECECEC;
		img{
			margin:15px 0 0 80px;
		}
		ul{
			list-style:none;
			float:left;
			margin:15px 0 0 60px;
			color:#333;
			li{
				line-height:23px;
				font-size:13px;
				cursor:pointer;
			}
			li:first-child{
				font-weight:bold;
				color:#000;
				font-size:14px;
				margin-bottom:5px;
			}
			li:hover{
				color:#E50163;
			}
			li:first-child:hover{
				color:#000;
			}
		}
		ul:first-child{
			margin-left:220px;
		}
		ul:nth-child(7){
			li:nth-child(3){
				color:#000;
				font-weight:bold;
				font-size:14px;
				margin:10px 0 5px 0;
			}
			li:nth-child(3):hover{
				color:#000;
			}
		}
	}
	#logoBox{
		width:100%;
		height:100%;
		img{
			margin:20px 0 20px 50px;
		}
		img:first-child{
			margin-left:360px;
			cursor:pointer;
		}
	}
	#list{
		ul{
			width:450px;
			height:20px;
			margin:0 auto;
			// border:1px solid red;
			li{
				list-style:none;
				margin-left:5px;
				float:left;
				font-size:13px;
				color:#333;
			}
			li:hover{
				color:#E50163;
				cursor:pointer;
			}
		}
		p{
			font-size:13px;
			color:#333;
			margin:0px 0 0px 370px;
		}
	}
	#imgBox{
		margin:20px 0 20px 20px;
		img{
			cursor:pointer;
		}
		img:first-child{
			margin-left:355px;
		}
	}
}
