*{
	margin:0;
	padding:0;
}
.clearFix::after{
	content:'';
	display:block;
	clear:both;
}
header{
	width:100%;
	#advertising{
		width:100%;
		background:#f6f6f6;
		border-bottom:1px solid #ededed; 
		li{
			float:left;
			list-style:none;
			color:#666;
			font-size:14px;
			margin:8px 0 0 25px;
		}
		li:hover{
			color:#E50163;
			cursor:pointer;
		}
		li:nth-child(1){
			margin:5px 0 0 180px;
		}
		li:nth-child(2){
			margin-left:430px;
			a{
				color:#666;
				text-decoration:none;
			}
			a:hover{
				color:#E50163;
			}
		}
		li:nth-child(4){
			position:relative;
			margin-left:35px;
			#code{
				position:absolute;
				left:-125px;
				top:20px;
				display:none;
			}
			img{
				position:absolute;
				top:1px;
				left:-22px;
			}
		}
		li:nth-child(4):hover{
			#code{
				display:block;
			}
		}
		li:nth-child(5){
			position:relative;
			margin-left:40px;
			#code_{
				position:absolute;
				left:-80px;
				top:23px;
				display:none;
			}
			img{
				position:absolute;
				top:1px;
				left:-22px;
			}
		}
		li:nth-child(5):hover{
			#code_{
				display:block;
			}
		}
		li:nth-child(6){
			position:relative;
			margin-left:35px;
			#code__{
				position:absolute;
				left:-79px;
				top:19px;
				display:none;
			}
			img{
				position:absolute;
				top:1px;
				left:-18px;
			}
		}
		li:nth-child(6):hover{
			#code__{
				display:block;
			}
		}
		li:last-child{
			position:relative;
			margin-left:35px;
			#shopping_cart_btn{
				position:absolute;
				left:-285px;
				top:27px;
				width:350px;
				height:90px;
				text-align:center;
				line-height:90px;
				color:#000;
				display:none;
				box-shadow:1px 1px 5px #ccc;
				background:#fff;
			}
			img{
				position:absolute;
				top:1px;
				left:-20px;
			}
		}
		li:last-child:hover{
			#shopping_cart_btn{
				display:block;
			}
		}
	}
	#Option_bnt{
		width:100%;
		background:#f6f6f6;
		border-bottom:1px solid #ededed;
		list-style:none;
		li{
			float:left;
			font-size:0;
		}
		li:nth-child(1){
			margin-left:180px;
		}
	}
	#inp_log{
		width:100%;
		list-style:none;
		li{
			float:left;
		}
		#lis{
			margin:20px 0 0 170px;
		}
		li:nth-child(2){
			input{
				margin:46px 0 0 70px;
				border:2px solid #E50163;
				width:450px;
				height:35px;
			}
		}
		li:nth-child(3){
			button{
				width:100px;
				height:39px;
				color:white;
				font-size:16px;
				background:#E50163;
				border:none;
				margin:46px 0 0 0;
			}
		}
		li:nth-child(4){
			img{
				margin:25px 0 0 39px;
			}
		}
		li:last-child{
			ul{
				width:500px;
				margin:-15px 0 0 70px;
				li{
					list-style:none;
					margin-left:12px;
					float:left;
					font-size:13px;
					color:#666;
				}
				li:nth-child(1){
					color:#E50163;
				}
				li:nth-child(2){
					color:#E50163;
				}
				li:hover{
					color:#E50163;
					cursor:pointer;
				}
			}
		}
	}
	#Home_page_options{
		width:100%;
		height:35px;
		background:#555;
		line-height:33px;
		li{
			list-style:none;
			float:left;
			color:#fff;
			font-size:15px;
			margin-left:30px;
		}
		li:hover{
			color:#E50163;
			cursor:pointer;
			border-bottom:2px solid #E50163;
		}
		li:nth-child(1){
			margin-left:190px;
			a{
				color:#fff;
				text-decoration:none;
			}
			a:hover{
				color:#E50163;
			}
		}
		li:nth-child(9){
			margin-left:390px;
		}
		li:nth-child(6){
			a{
				color:#fff;
				text-decoration:none;
			}
			a:hover{
				color:#E50163;
			}
		}
		li:nth-child(11){
			color:#E50163;
		}
	}
	.banner{
		position:relative;
		width:1583px;
		overflow:hidden;
		font-size:0;
		list-style:none;
		.b_main{
			position:relative;
			width:1700px;
			height:430px;
			.b_m_pic{
				position:relative;
				width:1700px;
				height:430px;
				li{
					position:absolute;
					width:1700px;
					height:430px;
					top:0;
					left:-60px;
				}
			}
		}
		.b_list{
			ul{
				position:absolute;
				right:100px;
				bottom:20px;
				li{
					width:10px;
					height:10px;
					float:left;
					background:#333;
					margin-left:20px;
					border-radius:50%;
					border:1px solid white;
				}
				.l_hover{
					border:1px solid #333;
					background:white;
				}
				.l_click{
					border:1px solid #333;
					background:white;
				}
			}
		}
	}
	#Navigation{
		width:210px;
		height:563px;
		background:#fff;
		position:absolute;
		top:267px;
		left:190px;
		list-style:none;
		z-index:100;
		#lis_1{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_1{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-1px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_1:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_1{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
		#lis_2{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_2{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-113px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_2:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_2{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
		#lis_3{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_3{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-226px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_3:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_3{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
		#lis_4{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_4{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-338px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_4:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_4{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
		#lis_5{
			position:relative;
			width:99%;
			height:19.6%;
			border:1px solid #ccc;
			cursor:pointer;
			p{
				font-size:19px;
				font-weight:bold;
				margin:15px 0 20px 20px;
			}
			span{
				color:#666;
				font-size:14px;
				margin-left:20px;
			}
			img{
				position:absolute;
				top:15px;
				right:10px;
			}
			#box_5{
				width:300px;
				height:563px;
				background:#fff;
				box-shadow:2px 2px 10px #ccc;
				position:absolute;
				top:-450px;
				left:209px;
				display:none;
				font-size:14px;
				ul{
					float:left;
					li{
						list-style:none;
						border:none;
						float:left;
						margin:5px 0 0 30px;
					}
					li:hover{
						color:#E50163;
						text-decoration:underline;
					}
					p{
						font-size:15px;
						margin:10px 0 10px 25px;
					}
				}
			}
			i{
				width:0;
				height:0;		
				border-top:10px solid transparent;
				border-bottom:10px solid transparent;
				border-right:10px solid #fff;
				position:absolute;
				top:45px;
				right:-1px;
				display:none;
			}
		}
		#lis_5:hover{
			background:#E50163;
			border-color:#E50163;
			color:#fff;
			span{
				color:#fff;
				text-decoration:underline;
			}
			#box_5{
				display:block;
				color:#000;
			}
			i{
				display:block;
			}
		}
	}
	#COM{
		position:absolute;
		top:840px;
		left:190px;
		z-index:100;
	}
}
aside{
	width:30px;
	height:800px;
	background:#000;
	position:fixed;
	top:0;
	right:0;
	z-index:100;
	ul{
		li{
			list-style:none;
			cursor:pointer;
		}
		li:nth-child(1):hover{
			div{
				display:block;
			}
		}
		li:nth-child(1){
			width:30px;
			height:30px;
			background-image:url(../images/nitemf_09.png);
			background-repeat:no-repeat;
			background-position:6px;
			margin:198px 0 20px 0px;
			cursor:pointer;
			div{
				width:300px;
				height:200px;
				border:1px solid #ccc;
				position:absolute;
				left:-302px;
				display:none;
				background:#fff;
				img{
					display:block;
					margin:20px auto 5px;
				}
				p{
					text-align:center;
					color:#333;
					font-size:13px;
				}
				button{
					width:100px;
					height:30px;
					border:1px solid #E50163;
					background:0;
				}
				button:hover{
					background:#E50163;
					cursor:pointer;
				}
				button:nth-child(3){
					margin:10px 0 0 45px;
				}
				button:nth-child(5){
					width:150px;
					margin:18px 0 0 0;
					background:#f5f5f5;
					border:none;
				}
				button:nth-child(6){
					width:150px;
					margin:0 0 0 -5px;
					background:#f5f5f5;
					border:none;
				}
			}
		}
		li:nth-child(2){
			background-repeat:no-repeat;
			background-image:url(../images/nitemf_05.png);
			background-position:3px 15px;
			width:30px;
			height:150px;
			border-top:1px solid #666;
			border-bottom:1px solid #666;
			p{
				color:#fff;
				margin:50px 0 0 8px;
				font-size:13px;
			}
			div{
				width:20px;
				height:20px;
				border-radius:15px;
				background:#E50163;
				margin:15px 0 0 5px;
				text-align:center;
				line-height:20px;
				color:#fff;
				font-size:13px;
			}
		}
		li:nth-child(3):hover{
			div{
				display:block;
			}
		}
		li:nth-child(3){
			background-repeat:no-repeat;
			background-image:url(../images/nitemf_07.png);
			background-position:7px 25px;
			width:30px;
			height:50px;
			margin:15px 0;
			div{
				width:100px;
				height:30px;
				background:#fff;
				position:absolute;
				left:-102px;
				top:435px;
				text-align:center;
				line-height:30px;
				color:#333;
				border:1px solid #ccc;
				font-size:14px;
				display:none;
			}
		}
		li:nth-child(4):hover{
			div{
				display:block;
			}
		}
		li:nth-child(4){
			background-repeat:no-repeat;
			background-image:url(../images/nitemf_08.png);
			background-position:6px 25px;
			width:30px;
			height:50px;
			div{
				width:120px;
				height:160px;
				border:1px solid #ccc;
				position:absolute;
				left:-122px;
				top:500px;
				background:#fff;
				font-size:13px;
				text-align:center;
				display:none;
				img{
					display:block;
					margin:0 auto;
				}
			}
		}
		li:nth-child(5):hover{
			p{
				display:block;
			}
		}
		li:nth-child(5){
			background-repeat:no-repeat;
			background-image:url(../images/service_out.png);
			background-position:-2px -3px;
			width:30px;
			height:33px;
			margin-top:26px;
			p{
				width:100px;
				height:34px;
				border:1px solid #ccc;
				position:absolute;
				left:-102px;
				top:555px;
				text-align:center;
				line-height:30px;
				color:#333;
				font-size:15px;
				display:none;
				background:#fff;
			}	
		}
		li:nth-child(6){
			img{
				margin:125px 0 0 3.5px;
			}
		}
	}
}
main{
	width:100%;
	padding-top:0.1px;
	position:relative;
	#navigation{
		width:1150px;
		position:relative;
		top:10px;
		left:215px;
		#navigation_box{
			width:1150px;
			p{
				width:55px;
				height:40px;
				margin-left:0px;
				font-size:23px;
				font-weight:bold;
				float:left;
				background:#fff;
				border:1px solid #ccc;
				color:#333;
				text-align:center;
				line-height:40px;
				cursor:pointer;
			}
			li:hover{
				background:#E793B7;
			}
			li{
				list-style:none;
				float:left;
				width:153px;
				height:40px;
				background:#fff;
				border:1px solid #ccc;
				margin-left:1px;
				color:#333;
				font-size:14px;
				text-align:center;
				line-height:40px;
				cursor:pointer;
			}
		}
		#navigation_box_1{
			width:1150px;
			display:none;
			p{
				width:55px;
				height:40px;
				margin-left:1px;
				font-size:23px;
				font-weight:bold;
				float:left;
				background:#fff;
				border:1px solid #ccc;
				color:#333;
				text-align:center;
				line-height:40px;
				cursor:pointer;
			}
			li:hover{
				background:#E793B7;
			}
			li{
				list-style:none;
				float:left;
				width:153px;
				height:40px;
				background:#fff;
				border:1px solid #ccc;
				margin-left:1px;
				color:#333;
				font-size:14px;
				text-align:center;
				line-height:40px;
				cursor:pointer;
			}
		}
	}
	#navigation_1{
		width:1150px;
		margin:20px auto 0px;
		#navigation_1_box{
			width:100%;
			height:1800px;
			li:hover{
				box-shadow:0px 2px 5px #ccc;
			}
			li{
				width:30%;
				height:570px;
				list-style:none;
				text-align:center;
				transition:0.3s;
				cursor:pointer;
				float:left;
				margin:10px 0 0 28px;
				img{
					width:100%;
				}
				p:nth-child(2){
					width:30px;
					height:15px;
					border:1px solid #000;
					font-size:13px;
					margin:0 auto 20px;
					line-height:15px;
				}
				p:nth-child(3){
					text-align:center;
					font-size:13px;
					color:#333;
				}
				p:nth-child(4){
					text-align:center;
					font-size:13px;
					color:#E50163;
					margin-top:10px;
				}
			}
		}
	}
	#navigation_2{
		width:100%;
		background:#F7F7F7;
		#z1447{
			display:block;
			margin:0 auto 50px;
		}
		.swiper-container{
			width:385px;
			height:215px;
			border:1px solid #ccc;
			margin:0 0 100px 103px;
			float:left;
			text-align:center;
			font-size:13px;
			color:#333;
			.swiper-wrapper{
				width:385px;
				height:182px;
				margin-bottom:10px;
			}
		}
	}
}
footer{
	width:100%;
	height:100%;
	position:relative;
	background:#fff;
	#hellp{
		width:100%;
		height:150px;
		background:#ECECEC;
		img{
			margin:15px 0 0 80px;
		}
		ul{
			list-style:none;
			float:left;
			margin:15px 0 0 60px;
			color:#333;
			li{
				line-height:23px;
				font-size:13px;
				cursor:pointer;
			}
			li:first-child{
				font-weight:bold;
				color:#000;
				font-size:14px;
				margin-bottom:5px;
			}
			li:hover{
				color:#E50163;
			}
			li:first-child:hover{
				color:#000;
			}
		}
		ul:first-child{
			margin-left:220px;
		}
		ul:nth-child(7){
			li:nth-child(3){
				color:#000;
				font-weight:bold;
				font-size:14px;
				margin:10px 0 5px 0;
			}
			li:nth-child(3):hover{
				color:#000;
			}
		}
	}
	#logoBox{
		width:100%;
		height:100%;
		img{
			margin:20px 0 20px 50px;
		}
		img:first-child{
			margin-left:360px;
			cursor:pointer;
		}
	}
	#list{
		ul{
			width:450px;
			height:20px;
			margin:0 auto;
			// border:1px solid red;
			li{
				list-style:none;
				margin-left:5px;
				float:left;
				font-size:13px;
				color:#333;
			}
			li:hover{
				color:#E50163;
				cursor:pointer;
			}
		}
		p{
			font-size:13px;
			color:#333;
			margin:0px 0 0px 370px;
		}
	}
	#imgBox{
		margin:20px 0 20px 20px;
		img{
			cursor:pointer;
		}
		img:first-child{
			margin-left:355px;
		}
	}
}